<a href="https://colab.research.google.com/github/ntphiep/SAT-solve/blob/main/pyspark_tutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [ ]:
! echo $SPARK_HOME

In [ ]:
import findspark
findspark.init()

In [ ]:
! pwd

In [ ]:
! ls /

In [ ]:
# %cd

In [ ]:
from pyspark import SparkContext

sc = SparkContext("local", "Filter app")

In [ ]:
words = sc.parallelize (
   ["scala",
   "java",
   "hadoop",
   "spark",
   "akka",
   "spark vs hadoop",
   "pyspark",
   "pyspark and spark"]
)
print(type(words))
print(words.count())

words_filter = words.filter(lambda x: 'spark' in x)
filtered = words_filter.collect()
print ("Fitered RDD -> %s" % (filtered))

In [ ]:
! $SPARK_HOME/bin/spark-submit example.py

In [ ]:
from pyspark import SparkContext

sc = SparkContext("local", "Filter app")

In [ ]:
dataFile = sc.textFile('/content/sample_data/README.md')
print(type(dataFile))
print(dataFile.getStorageLevel())
dataFile.cache()
print(dataFile.getStorageLevel())

lines = dataFile.collect()
for ll in lines:
  print(ll)

<class 'pyspark.rdd.RDD'>
Serialized 1x Replicated
Memory Serialized 1x Replicated
This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

In [ ]:
# loc cac dong voi dau *
linesWithStar = dataFile.filter(lambda x: '*' in x)
for line in linesWithStar.collect():
  print(line)

*   `california_housing_data*.csv` is California housing data from the 1990 US
*   `mnist_*.csv` is a small sample of the
*   `anscombe.json` contains a copy of

In [ ]:
words = dataFile \
        .flatMap(lambda x: x.split(' ')) \
        .map(lambda x: (x, 1)) \
        .reduceByKey(lambda x, y: x + y)
for it in words.collect():
  print(it)

words.saveAsTextFile('/content/wordcount')

('This', 1)
('directory', 1)
('includes', 1)
('a', 3)
('few', 1)
('sample', 2)
('datasets', 1)
('to', 1)
('get', 1)
('you', 1)
('started.', 1)
('', 51)
('*', 3)
('`california_housing_data*.csv`', 1)
('is', 4)
('California', 1)
('housing', 1)
('data', 1)
('from', 1)
('the', 3)
('1990', 1)
('US', 1)
('Census;', 1)
('more', 1)
('information', 1)
('available', 1)
('at:', 2)
('https://developers.google.com/machine-learning/crash-course/california-housing-data-description', 1)
('`mnist_*.csv`', 1)
('small', 1)
('of', 2)
('[MNIST', 1)
('database](https://en.wikipedia.org/wiki/MNIST_database),', 1)
('which', 1)
('described', 2)
('http://yann.lecun.com/exdb/mnist/', 1)
('`anscombe.json`', 1)
('contains', 1)
('copy', 2)
("[Anscombe's", 1)
('quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet);', 1)
('it', 1)
('was', 2)
('originally', 1)
('in', 2)
('Anscombe,', 1)
('F.', 1)
('J.', 1)
('(1973).', 1)
("'Graphs", 1)
('Statistical', 1)
("Analysis'.", 1)
('American', 1)
('Statistician.', 1)
('27', 1)
('(1):', 1)
('17-21.', 1)
('JSTOR', 1)
('2682899.', 1)
('and', 1)
('our', 1)
('prepared', 1)
('by', 1)
('[vega_datasets', 1)
('library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).', 1)

In [ ]:
# dem so luong tu
words = dataFile.flatMap(lambda x: x.split(' '))
# for it in words.collect():
#   print(it)
words = words.map(lambda x: (x, 1))
counters = words.reduceByKey(lambda x, y: x+y)
for it in counters.collect():
  print(it)
counters.saveAsTextFile('/content/wordcount')

In [ ]:
# tao mot file chua cac so nguyen
import random
with open('/content/int.txt', 'wt') as g:
  for i in range(1000000):
    g.write('%d\n'%(random.randint(0, 1000000)))

In [ ]:
# tinh tong cac so
dataFile = sc.textFile('/content/int.txt')
result = dataFile \
          .map(lambda x: int(x)) \
          .reduce(lambda x, y: x+y)
print(result)

499545359357

In [ ]:
# tim so lon nhat
dataFile = sc.textFile('/content/int.txt')
result = dataFile \
          .map(lambda x: int(x)) \
          .max()
print(result)

999999

In [ ]:
# tim so luong so chan
dataFile = sc.textFile('/content/int.txt')
result = dataFile \
          .map(lambda x: int(x)) \
          .filter(lambda x: x%2==0) \
          .count()
print(result)

500681

In [ ]:
from pyspark.sql import SQLContext

sqlc = SQLContext(sc)

In [ ]:
data = [
   {"id" : "1201", "name" : "satish", "age" : "25"},
   {"id" : "1202", "name" : "krishna", "age" : "28"},
   {"id" : "1203", "name" : "amith", "age" : "39"},
   {"id" : "1204", "name" : "javed", "age" : "23"},
   {"id" : "1205", "name" : "prudvi", "age" : "23"}
]
df = sqlc.createDataFrame(data)

In [ ]:
df.show()

+---+----+-------+
|age|  id|   name|
+---+----+-------+
| 25|1201| satish|
| 28|1202|krishna|
| 39|1203|  amith|
| 23|1204|  javed|
| 23|1205| prudvi|
+---+----+-------+

In [ ]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df = sqlc.read.csv('/content/sample_data/california_housing_test.csv',
                   header=True)
df.show()

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population| households|median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000| 606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000| 277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000| 495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000|  11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000| 237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000| 204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000| 218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000| 441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000| 599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000| 603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000| 261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000| 138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000| 170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000| 659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000| 331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000|  50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000| 107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000| 595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000| 199.000000|     6.585100|     300000.000000|
|-122.590000|38.010000|         35.000000|8814.000000|   1307.000000|3450.000000|1258.000000|     6.172400|     414300.000000|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
df = sqlc.read.json('/content/sample_data/anscombe.json')
df.show()

+------+----+-----+---------------+
|Series|   X|    Y|_corrupt_record|
+------+----+-----+---------------+
|  null|null| null|              [|
|     I|10.0| 8.04|           null|
|     I| 8.0| 6.95|           null|
|     I|13.0| 7.58|           null|
|     I| 9.0| 8.81|           null|
|     I|11.0| 8.33|           null|
|     I|14.0| 9.96|           null|
|     I| 6.0| 7.24|           null|
|     I| 4.0| 4.26|           null|
|     I|12.0|10.84|           null|
|     I| 7.0| 4.81|           null|
|     I| 5.0| 5.68|           null|
|    II|10.0| 9.14|           null|
|    II| 8.0| 8.14|           null|
|    II|13.0| 8.74|           null|
|    II| 9.0| 8.77|           null|
|    II|11.0| 9.26|           null|
|    II|14.0|  8.1|           null|
|    II| 6.0| 6.13|           null|
|    II| 4.0|  3.1|           null|
+------+----+-----+---------------+
only showing top 20 rows

In [ ]:
df.select('name', 'age').show()

+-------+---+
|   name|age|
+-------+---+
| satish| 25|
|krishna| 28|
|  amith| 39|
|  javed| 23|
| prudvi| 23|
+-------+---+

In [ ]:
df.where(df['age'] >= 25).show()

+---+----+-------+
|age|  id|   name|
+---+----+-------+
| 25|1201| satish|
| 28|1202|krishna|
| 39|1203|  amith|
+---+----+-------+

In [ ]:
df.groupBy('age').count().sort('age').show()

+---+-----+
|age|count|
+---+-----+
| 23|    2|
| 25|    1|
| 28|    1|
| 39|    1|
+---+-----+

In [ ]:
df.head(3)

[Row(age='25', id='1201', name='satish'),
 Row(age='28', id='1202', name='krishna'),
 Row(age='39', id='1203', name='amith')]

In [ ]:
df = sqlc.read.csv('/content/n2.csv', header=True)

In [ ]:
df.show()

+---+--------+--------------------+----+--------+------+----------------+----+-----+-------------------+--------------------+
|STT|Mã số SV|              Họ Tên|Phái|     Lớp| Mã MH|          Tên MH|Nhóm|Tổ TH|           Cơ sở MH|               Email|
+---+--------+--------------------+----+--------+------+----------------+----+-----+-------------------+--------------------+
|  1|520H0341|     Nguyễn Thái Bảo| Nam|20H50202|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0341@student....|
|  2|518H0330|   Nguyễn Văn Chương| Nam|18H50302|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|518H0330@student....|
|  3|518H0625|        Bùi Quốc Huy| Nam|18H50303|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|518H0625@student....|
|  4|520H0644|     Nguyễn Nhựt Huy| Nam|20H50301|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0644@student....|
|  5|518H0522|       Phạm Hữu Khôi| Nam|18H50201|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|518H0522@student....|
|  6|520H0384|        Vũ Tuấn Mạnh| Nam|20H50205|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0384@student....|
|  7|520H0473|      Huỳnh Hữu Minh| Nam|20H50302|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0473@student....|
|  8|520H0658|   Nguyễn Khánh Minh| Nam|20H50303|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0658@student....|
|  9|520H0559|       Lê Phước Nhân| Nam|20H50202|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0559@student....|
| 10|519H0210|       Trần Hữu Nhất| Nam|19H50204|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|519H0210@student....|
| 11|520H0396|  Nguyễn Thị Yến Nhi|  Nữ|20H50205|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0396@student....|
| 12|518H0419|   Nguyễn Thành Phát| Nam|18H50303|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|518H0419@student....|
| 13|518H0047|        Hà Quán Quân| Nam|18H50203|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|518H0047@student....|
| 14|518H0663|    Nguyễn Minh Quân| Nam|18H50302|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|518H0663@student....|
| 15|520H0674|     Trần Minh Quang| Nam|20H50303|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0674@student....|
| 16|518H0437|     Phan Tuấn Thành| Nam|18H50303|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|518H0437@student....|
| 17|519H0046|   Trần Vũ Bảo Thiên| Nam|19H50203|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|519H0046@student....|
| 18|520H0684|   Nguyễn Minh Thiện| Nam|20H50301|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0684@student....|
| 19|519H0238|   Nguyễn Quốc Thịnh| Nam|19H50204|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|519H0238@student....|
| 20|520H0686|Nguyễn Hoàng Uyên...|  Nữ|20H50304|502051|Hệ cơ sở dữ liệu|  20|    2|0 - TP. Hồ Chí Minh|520H0686@student....|
+---+--------+--------------------+----+--------+------+----------------+----+-----+-------------------+--------------------+
only showing top 20 rows

In [ ]:
df.printSchema()

root
 |-- STT: string (nullable = true)
 |-- Mã số SV: string (nullable = true)
 |-- Họ Tên: string (nullable = true)
 |-- Phái: string (nullable = true)
 |-- Lớp: string (nullable = true)
 |-- Mã MH: string (nullable = true)
 |-- Tên MH: string (nullable = true)
 |-- Nhóm: string (nullable = true)
 |-- Tổ TH: string (nullable = true)
 |-- Cơ sở MH: string (nullable = true)
 |-- Email: string (nullable = true)

In [ ]:
df.where(df['Phái'] == 'Nữ') \
  .select('STT', 'Mã số SV', 'Họ Tên') \
  .sort('STT') \
  .show()

+---+--------+--------------------+
|STT|Mã số SV|              Họ Tên|
+---+--------+--------------------+
| 11|520H0396|  Nguyễn Thị Yến Nhi|
| 20|520H0686|Nguyễn Hoàng Uyên...|
+---+--------+--------------------+

In [ ]:
# tìm 10 hàm thông dụng nhất của DataFrame
# liệt kê tên và chức năng